.librarian/
.tmp/
.yardoc
modules/
packaging/build
*.deb
*.rpm
Puppetfile.lock
configuration*.log
.vagrant
vagrant/test/logs
\#*\#
.\#*
*~
ubuntu-*-cloudimg-console.log
config/installer-scenarios.d/last_scenario.yaml
keys/
