.librarian/
.tmp/
.git/
.*.sw[op]
.metadata
.yardoc
modules/
packaging/build
*.deb
*.rpm
Puppetfile.lock
configuration*.log
.vagrant
vagrant/test/logs
\#*\#
.\#*
*~
ubuntu-*-cloudimg-console.log
config/installer-scenarios.d/last_scenario.yaml
keys/
.yardwarns
*.iml
/.bundle/
/.idea/
/.vagrant/
/coverage/
/doc/
/Gemfile.local
/Gemfile.lock
/junit/
/log/
/pkg/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/tmp/
/vendor/
/convert_report.txt
/update_report.txt
.DS_Store
